{% extends "base.html" %} {% block title %}Home{% endblock %}
{% block content %} 
<form method = "POST">
    <style>
        h3 {text-align: center; padding: 30px;}
    </style>
    <h3 align = "center">Home Page</h3>
    <style>
        .stocksymbol-label {
            padding-top: 20px;
        }
    </style>
    <div class = "form-group">
        <label for = "stocksymbol" class = "stocksymbol-label">Stock Symbol</label>
        <input type = "text" class = "form-control" id = "stocksymbol" name = "stocksymbol" placeholder = "Enter Stock Symbol">
    </div> 
    <button type="submit" class="btn btn-primary">Submit</button>
    <div class="row">
        <div class="col-md-6">
            <style>
                h5 {
                    padding-top: 30px;
                    padding-bottom: 10px;
                }
            </style>
            <h5><strong>Stock Info</strong></h5>
            <ul class="list-group list-group-flush" id="stock">
                {% for stock in user.stock %}
                <li class="list-group-item">{{ stock.data }}</li>
                    <button type = "button" class = "close" onClick = "deleteItem({{ stock.id }})">
                        <span aria-hidden = "true">&times;</span>
                    </button>
                {% endfor %}
            </ul>
        </div>
    </div>
</form>
{% endblock %}


